GEMINI_API_KEY=<YOUR_KEY>
GOOGLE_API_KEY=<YOUR_KEY>
GOOGLE_SERPER_URL=https://google.serper.dev/search
GOOGLE_SERPER_API_KEY=<YOUR_KEY>


DEEPSEEK_API_KEY=<YOUR_KEY>

# https://jina.ai/api-dashboard/reader
JINA_API_KEY=<YOUR_KEY>

LANGSMITH_API_KEY = <YOUR_KEY>